* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#dataMacro {
    display: flex;
}
#time {
    display: flex;
}
#cityShow {
    display: flex;
}
#weather {
    display: flex;
}
#dataDetail {
    display: flex;
}
#data1 {
    display: flex;
}
#search {
    display: flex;
}
#data2 {
    display: flex;
}

.clockdate-wrapper {
    background-color: rgba(0, 254, 42, 0.214);
    padding:25px;
    max-width:300px;
    width:100%;
    text-align:center;
    border-radius:5px;
    margin-top: 0.5vh;
    margin-left: 0.5vw;
}

#clock{
    background-color: rgb(255, 185, 9);
    font-family: sans-serif;
    font-size:20px;
    text-shadow:0px 0px 2px #fff;
    color:rgb(0, 0, 0);
}

#date {
    height: 24px;
    font-size:20px;
    font-family:arial,sans-serif;
    color:rgb(253, 6, 134);
}

/* ====================================== */
#forecast4d {
    display: flex;
}

#references {
    display: block;
    align-items: center;
    justify-content: center;
    height: 250px;
    font-size: 14px;
    background-color: rgba(67, 255, 67, 0.8);
    list-style: none;
    border: 0.5px solid black;
    border-radius: 15px;
}

.hourRef {
    background: rgba(0, 251, 255, 0.456) 39%;
    height: 20px;
    text-align: center;
}

.tMaxMinRef {    
    text-align: center;
    height:25px;
    background-image: linear-gradient(45deg, rgba(0, 251, 255, 0.456) 39%, rgba(51, 56, 57, 0.41) 96%);
}

.humidRef {
    text-align: center;
}

.rainRef {
    text-align: center;
    background-image: linear-gradient(200deg, rgba(0, 251, 255, 0.456) 39%, rgba(51, 56, 57, 0.41) 96%);
}

.windRef {
    text-align: center;
}

.descrRef {
    text-align: center;
    background-image: linear-gradient(175deg, rgba(0, 251, 255, 0.456) 39%, rgba(51, 56, 57, 0.41) 96%);
}
/* -------------------------------------- */
.colHr {
    display: block;
    height: 100%;
    font-size: 14px;
    background-color: rgba(67, 255, 67, 0.8);
    list-style: none;
    border: 0.5px solid black;
    border-radius: 15px;
    border-top-right-radius: 40% 20%;
}

.hour {
    background: rgba(0, 251, 255, 0.456) 39%;
    font-size:18px;
}

.tMaxMin {
    display: inline-block;
    text-align: center;
    align-items: center;
    height: 24px;
    font-size: 24px;
    background-image: linear-gradient(45deg, rgba(0, 251, 255, 0.456) 39%, rgba(51, 56, 57, 0.41) 96%);
}

.rain {
    background-image: linear-gradient(200deg, rgba(0, 251, 255, 0.456) 39%, rgba(51, 56, 57, 0.41) 96%);
}

.descr {
    background-image: linear-gradient(175deg, rgba(0, 251, 255, 0.456) 39%, rgba(51, 56, 57, 0.41) 96%);
}

#forecastAPI {
    display: flex;
    width: auto;
    height: 250px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin: auto 0;
    text-align: center;
}