body {
    #dataMacro {
        display: inline-grid;            
            grid-template-rows: 20vh;
            grid-template-columns: 32vw 33vw 33vw ;
            grid-template-areas: "time cityShow weather";

        #time {
            grid-area: time;
        }

        #cityShow {
            grid-area: cityShow;
        }

        #weather {
            grid-area: weather;
        }
    }

    #dataDetail {
        display: inline-grid;            
        grid-template-rows: 20vh;
        grid-template-columns: 32vw 33vw 33vw;
        grid-template-areas: "pop search windVisib";

        .pop {
            grid-area: pop;
        }

        .search {
            grid-area: search;
        }

        .windVisib {
            grid-area: windVisib;
        }
    }
}