main {
//  flexbox main ..................................................
    display: flex;
    flex-direction: column;
    width: 100vw;

    h1 {
        font-size: 80px;
        color: rgb(255, 0, 200);
        text-shadow: 2px 0 0 rgb(255, 255, 255), -2px 0 0 rgb(255, 255, 255), 0 2px 0 rgb(255, 255, 255), 0 -2px 0 rgb(255, 255, 255), 1px 1px rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255);
        margin-left: 35px;
    }

    #dataMacro {
        margin:15px;

        #time {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin: 10px;

            #clockdate {
                .clockdate-wrapper {
                    padding: 25px;
                    text-align: center;
                    border-radius: 5px;

                    #clock{
                        background-color:map-get($colors-background, bg-clock);
                        font-family: sans-serif;
                        font-size: 4vw;
                        text-shadow: 0px 0px 2px #fff;
                        color:rgb(0, 0, 0);
                    }

                    #date {
                        font-size:2vw;
                        font-family:arial,sans-serif;
                        color:rgb(253, 6, 134);
                    }
                }
            }
        }

        #cityShow {
            display: flex;
            margin: 10px;
            align-items: center;
                justify-content: center;

            .pod {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 150px;
                min-width: 80px;

                .sun {
                    text-align: center;

                    img {
                        width: 80%;
                    }
                }

                .sunrise {
                    div {
                        display: flex;
                        flex-direction: row;
                        font-size: 25px;

                        img {
                            width: 30px;
                            margin-right: 5px;
                        }
                    }
                }

                .sunset {
                    div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        font-size: 25px;

                        img {
                            width: 30px;
                            margin-right: 5px;
                        }
                    }
                    
                }
            }

            .cityTemp {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;
                // justify-content: center;

                .cityCtry {
                    display: flex;
                    align-items: end;
                    justify-content: center;
                    margin-top:20px;
                    margin-bottom: 10px;
                    width: 100%;
                    height: 30px;
                    font-size: 55px;
                }

                .blockTemp {
                    display: flex;
                    height: 100%;
                    margin: 10px;

                    .temp {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        font-size: 60px;
                    }
                    
                    .feels_like {
                        display: flex;
                        text-align: center;
                        align-items: center;
                        width: 100%;

                        .flDt {
                            margin-top: 5px;
                            font-size: 50px;
                        }
                    }
                }
            }
        }

        #weather {
            display: flex;
            justify-content: center;
            margin: 10px;

            .humMacr {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                margin-right: 3vw;

                .humTxt {
                    margin-top: 10px;
                    font-size: 30px;
                }

                .humDt {
                    margin-top: 10px;
                    font-size: 50px;
                }
            }

            .iconMxMn {
                display: flex;
                align-items: center;
                justify-content: center;
                align-content: center;
                margin-left: 15px;
                

                    img {
                        display: flex;
                        width: 70px;
                        margin: 0;
                    }
            }

            .maxMinDt {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                // width: 33%;

                .maxTemp {
                    margin: bottom 2px;
                    font-size: 50px;
                }
                
                .minTemp {
                    margin: bottom 2px;
                    font-size: 50px;
                }
            }
        }
    }

    #dataDetail {
            margin:15px;

            .pop {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                margin: 10px;

                div {
                    .titlePop {
                    font-size: 30px;
                    text-align: center;
                    margin-top: 5px;
                    }

                    .popIcon {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-around;
                        width: 80%;
                        height: 50%;

                        img {
                            height:80%
                        }

                        .popDt {
                            font-size: 50px;
                        }
                    }
                }

                div {
                    .titlePress {
                    font-size: 30px;
                    }

                    .pressureDt {
                        font-size: 50px;
                    }
                }
            }

            .search {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                margin: 10px;

                .srchTitle {
                    font-size: 20px;
                    top: 2%;
                }

                #citySearch {
                    height: 40px;
                    width: 250px;
                    font-size: 25px;
                    min-width: 150px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }

                .messErr {
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    height: 30px;
                    align-items: center;
                }
            }

            .windVisib {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                text-align: center;
                margin: 10px;
                

                .wind {
                    img {
                        width: 100px;
                    }

                    .windDt {
                        font-size: 50px;
                    }
                }

                .visib {                    
                    .visibTxt {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 40px;
                        font-size: 30px;
                    }

                    .visibDt {
                        font-size: 50px;
                    }
                }

            }        
    }

    #forecast4d {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        text-align: center;

        h2 {
            font-size: 25px;
            margin-bottom: 10px;
            background: map-get($colors-background, bg-blocks);
        }

        .block4d {
            display: flex;
            margin: 10px;
            
            #references {
                display: block;
                align-items: center;
                justify-content: center;
                height: 250px;
                width: 100px;
                font-size: 14px;
                list-style: none;
                border: 0.5px solid black;
                border-radius: 15px;
                margin: 10px;

                .hourRef {
                    height: 20px;
                    text-align: center;
                }

                .icon {
                    height: 100px;
                    margin-bottom: 5px;

                    img{
                        width: 80px;
                    }
                }

                .tMaxMinRef {    
                    text-align: center;
                    height:20px;
                    background-image: linear-gradient(45deg, rgba(0, 251, 255, 0.456) 39%, rgba(51, 56, 57, 0.41) 96%);
                }

                .humidRef {
                    text-align: center;
                }
                
                .rainRef {
                    text-align: center;
                    background-image: linear-gradient(200deg, rgba(0, 251, 255, 0.456) 39%, rgba(51, 56, 57, 0.41) 96%);
                }
                
                .windRef {
                    text-align: center;
                }
                
                .descrRef {
                    text-align: center;
                    background-image: linear-gradient(175deg, rgba(0, 251, 255, 0.456) 39%, rgba(51, 56, 57, 0.41) 96%);
                }
            }

            #forecastAPI {
                display: flex;
                width: auto;
                height: 250px;
                width: 92vw;
                overflow-x: scroll;
                scroll-behavior: smooth;
                margin: auto 0;
                text-align: center;

                .colHr {
                    display: block;
                    height: 100%;
                    font-size: 14px;
                    list-style: none;
                    border: 0.5px solid black;
                    border-radius: 15px;
                    border-top-right-radius: 40% 20%;
                    margin-left:1px;
                    margin-right: 1px;
                    margin-top: 0px;

                    .hour {
                        font-size:18px;
                    }

                    .tMaxMin {
                        display: inline-block;
                        text-align: center;
                        align-items: center;
                        height: 20px;
                        font-size: 20px;
                        background-image: linear-gradient(45deg, rgba(0, 251, 255, 0.456) 39%, rgba(51, 56, 57, 0.41) 96%);
                    }
                    
                    .rain {
                        background-image: linear-gradient(200deg, rgba(0, 251, 255, 0.456) 39%, rgba(51, 56, 57, 0.41) 96%);
                    }
                    
                    .descr {
                        background-image: linear-gradient(175deg, rgba(0, 251, 255, 0.456) 39%, rgba(51, 56, 57, 0.41) 96%);
                    }
                }
            }
        }
    }
}